workflows/orchestrator.json
{
  "name": "WF-ORCHESTRATOR Full pipeline",
  "nodes": [
    {
      "id": "orch-cron",
      "name": "Daily 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -110
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "orch-hook",
      "name": "Manual trigger (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        110
      ],
      "webhookId": "job-agent-run-all",
      "parameters": {
        "httpMethod": "POST",
        "path": "job-agent/run-all",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "orch-ctx",
      "name": "Set Candidate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c",
              "name": "candidate",
              "value": "={{ $json.body?.candidate || 'shashi' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "orch-wf00",
      "name": "WF00 Resume ingestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf00",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $('Set Candidate').first().json.candidate }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf01",
      "name": "WF01 Configuration loader",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf01",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $('Set Candidate').first().json.candidate }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf02",
      "name": "WF02 Job search and scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf02",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $('Set Candidate').first().json.candidate }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf03",
      "name": "WF03 Resume generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf03",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $('Set Candidate').first().json.candidate }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf04",
      "name": "WF04 Cover letter generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf04",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $('Set Candidate').first().json.candidate }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf05",
      "name": "WF05 Application executor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf05",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $('Set Candidate').first().json.candidate }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf06",
      "name": "WF06 Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf06",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $('Set Candidate').first().json.candidate }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf07",
      "name": "WF07 Interview preparation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf07",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $('Set Candidate').first().json.candidate }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf08",
      "name": "WF08 Dashboard aggregation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf08",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $('Set Candidate').first().json.candidate }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 09:00": {
      "main": [
        [
          {
            "node": "Set Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual trigger (webhook)": {
      "main": [
        [
          {
            "node": "Set Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Candidate": {
      "main": [
        [
          {
            "node": "WF00 Resume ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF00 Resume ingestion": {
      "main": [
        [
          {
            "node": "WF01 Configuration loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF01 Configuration loader": {
      "main": [
        [
          {
            "node": "WF02 Job search and scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF02 Job search and scoring": {
      "main": [
        [
          {
            "node": "WF03 Resume generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF03 Resume generator": {
      "main": [
        [
          {
            "node": "WF04 Cover letter generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF04 Cover letter generator": {
      "main": [
        [
          {
            "node": "WF05 Application executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF05 Application executor": {
      "main": [
        [
          {
            "node": "WF06 Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF06 Notifications": {
      "main": [
        [
          {
            "node": "WF07 Interview preparation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF07 Interview preparation": {
      "main": [
        [
          {
            "node": "WF08 Dashboard aggregation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}