workflows/orchestrator.json
{
  "name": "WF-ORCHESTRATOR Full pipeline",
  "nodes": [
    {
      "id": "orch-cron",
      "name": "Daily 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -110
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "orch-hook",
      "name": "Manual trigger (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        110
      ],
      "webhookId": "job-agent-run-all",
      "parameters": {
        "httpMethod": "POST",
        "path": "job-agent/run-all",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "orch-ctx",
      "name": "Set Candidate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c",
              "name": "candidate",
              "value": "={{ $json.body?.candidate || 'shashi' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "orch-wf00",
      "name": "Run WF00",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<wf00-id>",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate": "={{ $('Set Candidate').first().json.candidate }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf01",
      "name": "Run WF01",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        680,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<wf01-id>",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate": "={{ $('Set Candidate').first().json.candidate }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf02",
      "name": "Run WF02",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<wf02-id>",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate": "={{ $('Set Candidate').first().json.candidate }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf03",
      "name": "Run WF03",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1080,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<wf03-id>",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate": "={{ $('Set Candidate').first().json.candidate }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf04",
      "name": "Run WF04",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1280,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<wf04-id>",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate": "={{ $('Set Candidate').first().json.candidate }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf05",
      "name": "Run WF05",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1480,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<wf05-id>",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate": "={{ $('Set Candidate').first().json.candidate }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf06",
      "name": "Run WF06",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1680,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<wf06-id>",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate": "={{ $('Set Candidate').first().json.candidate }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf07",
      "name": "Run WF07",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1880,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<wf07-id>",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate": "={{ $('Set Candidate').first().json.candidate }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-wf08",
      "name": "Run WF08",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2080,
        0
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<wf08-id>",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate": "={{ $('Set Candidate').first().json.candidate }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "orch-summary",
      "name": "Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        0
      ],
      "parameters": {
        "jsCode": "\nconst stages = ['wf00','wf01','wf02','wf03','wf04','wf05','wf06','wf07','wf08'];\nconst summary = [];\n\nfor (const stage of stages) {\n  let entry = { stage, ok: false, detail: 'not run' };\n  try {\n    const out = $('Run ' + stage.toUpperCase()).first().json;\n    entry = { stage, ok: out.ok === true, detail: out.error ? String(out.error).slice(0, 160) : (out.label || '') };\n  } catch (e) {\n    // Node did not execute in this run; leave the default entry.\n  }\n  summary.push(entry);\n}\n\nconst failed = summary.filter(s => !s.ok);\nreturn [{ json: {\n  candidate: $('Set Candidate').first().json.candidate,\n  run_id: $execution.id,\n  stages_ok: summary.length - failed.length,\n  stages_failed: failed.length,\n  failed: failed.map(f => f.stage),\n  detail: summary\n} }];\n"
      }
    }
  ],
  "connections": {
    "Daily 09:00": {
      "main": [
        [
          {
            "node": "Set Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual trigger (webhook)": {
      "main": [
        [
          {
            "node": "Set Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Candidate": {
      "main": [
        [
          {
            "node": "Run WF00",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF00": {
      "main": [
        [
          {
            "node": "Run WF01",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF01": {
      "main": [
        [
          {
            "node": "Run WF02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF02": {
      "main": [
        [
          {
            "node": "Run WF03",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF03": {
      "main": [
        [
          {
            "node": "Run WF04",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF04": {
      "main": [
        [
          {
            "node": "Run WF05",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF05": {
      "main": [
        [
          {
            "node": "Run WF06",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF06": {
      "main": [
        [
          {
            "node": "Run WF07",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF07": {
      "main": [
        [
          {
            "node": "Run WF08",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF08": {
      "main": [
        [
          {
            "node": "Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}