workflows/wf05.json
{
  "name": "WF05 Application executor",
  "nodes": [
    {
      "id": "wf05-sub",
      "name": "Called by orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -110
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "candidate",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "wf05-in",
      "name": "Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        110
      ],
      "webhookId": "job-agent-wf05",
      "parameters": {
        "httpMethod": "POST",
        "path": "job-agent/wf05",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "wf05-run",
      "name": "Run WF05",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8800/api/stage/wf05",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "${JOB_AGENT_API_TOKEN}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate: $json.candidate || $json.body?.candidate || 'shashi' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "wf05-check",
      "name": "Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ok",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.ok === true }}",
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "wf05-ok",
      "name": "Return result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        -90
      ],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      }
    },
    {
      "id": "wf05-err",
      "name": "Return failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        90
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ JSON.stringify({ stage: 'wf05', ok: false, error: $json.error || 'stage failed' }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Called by orchestrator": {
      "main": [
        [
          {
            "node": "Run WF05",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Run WF05",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WF05": {
      "main": [
        [
          {
            "node": "Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Succeeded?": {
      "main": [
        [
          {
            "node": "Return result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}